.serie{
    /*background: black;*/
}

.serie_img{
    /*background: blue;*/
}

.serie_describ{
    /*background: white;*/
}

.serie_synopsis{
    /*background: red;*/
}

/* Définition d'un tableau */
.serie_describ_box{
    /*background: yellow;
}
.serie_describ_inbox_top{
    /*background: yellowgreen;*/
    text-align: center;
    color: dimgrey
}
.serie_describ_inbox_bottom{
    /*background: greenyellow;*/
    text-align: center;
    color: darkgrey
}
